@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .slide {
    animation: slide 0.8s ease-out;
  }
  @keyframes slide {
    0% {
      transform: translateX(200px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  .swing {
    animation: swing 15s ease infinite;
  }
  @keyframes swing {
    0%,
    100% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
  }
  .swell {
    animation: swell 1s ease-out;
  }
  @keyframes swell {
    0% {
      transform: scale(0, 0);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}
