@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .swing {
        animation: swing 15s ease infinite;
    }
    @keyframes swing {
        0%, 100% {
            transform: rotate(-5deg)
        }
        50% {
            transform: rotate(5deg)
        }
    }
}